body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.TabelaUsuarios{float: left; width: 80%; margin: 30px; text-align: center;}
  .TabelaUsuarios thead tr:first-child{background: black; color: white; font-weight: bold;}
  .TabelaUsuarios tbody tr:nth-child(2n){background: #ccc;}